@font-face {
    font-family: Roboto;
    src: url('/Assets/Fonts/Roboto-Regular.ttf');
}

*{
    text-decoration: none;
    font-family: Roboto;
    color: black;
}

body{
    margin: 0;
    background-color:#e0e0e0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 40px;
}

.nav-left ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-left img {
    margin-right: 50px;
}

.nav-left ul li {
    margin-right: 20px;
    font-size: 20px;
}

.nav-right a {
    background-color:darkblue;
    color: aliceblue;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 15px;
}

form {
    width: 350px;
    margin: 50px auto;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin-top: 5px;
    background-color: white;
}

textarea{
    resize: none;
    height: 100px;
}

form div {
    margin-top: 10px;
}

form label { 
    font-weight: bold;
}

button {
    margin-top: 10px;
    padding: 6px 25px;
    border:none;
    border-radius: 25px;
    font-size: 18px;
    background-color: orangered;
    color: white;
    cursor: pointer;
    float: right;
    font-weight: 500;
}

.home{
    display: flex;
    width: 1000px;
    border:1px ;
    margin: 100px auto;
    padding : 100px 75px;
    border-radius : 10px;
    box-shadow : 0  0   10px gray;
    text-align: justify;
    background-color: white;
}
.text {
    width: 600px;
    font-size:medium;
}

.foto {
    text-align: center;
    margin : auto 0  auto 50px; 
    width: 300px; 
    border-radius: 10px; 
    box-shadow: 0 0 15px grey;
    float: right;
}

.logo{
    padding: 10px;
    text-align: center;
    margin-top: 40px; margin-bottom: 20px;
}

.kontak {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #000033;
    color: white;
    border-radius: 50px;
    font-size: large;
    padding: 10px 25px; 
    margin-top: 1em;
    margin-right: 5px;
}